/*
@Author: Djaes
@URL: http://Djaes.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify main-style.css file.

*/

/* Your custom css codes start here: */
*{
    padding: 0;
    margin: 0;
   
}
a {
	background-color: transparent;
    text-decoration: none;
    color: #777777;
}
header{
    
}
body{
    margin: auto;
    line-height: 1.7;
    color: #777777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1100px;
    background-color: #fff;
}


.logo {
    max-width: 250px;
    max-height:90px;
    height:90px;
    width:200px;    
}

.row {
    border: 1px solid black;
    margin: 10px;
}






.menuzord-menu > li {
  margin-bottom: 0;
  margin-top: 0;
}
.menuzord-menu > li > a {
  color: #555555;
  font-size: 13px;
  font-weight: 400;
}
.menuzord-menu > li {
  padding: 0;
}
.menuzord-menu > li > a {
  padding: 28px 15px 32px;
  font-size: 14px;
}
.menuzord-brand img {
  max-height: 60px;
}
/*Menuzord Boxed Nav color*/
.header-nav.navbar-theme-colored .menuzord-menu > li > a {
  color: #fff;
}
.header-nav.navbar-white .menuzord-menu > li > a {
  color: #444;
}
.menuzord.menuzord-boxed .menuzord-menu ul.dropdown li a {
  padding: 15px 25px 15px 22px;
}
.menuzord-menu > li > a {
  border-radius: 0 !important;
}
.vertical-nav .menuzord .menuzord-menu ul.dropdown li:hover > a {
  background: #eeeeee none repeat scroll 0 0;
  color: #111111;
}
.vertical-nav .menuzord-menu li {
  padding: 0;
  position: relative;
  width: 100%;
}
.vertical-nav .menuzord-menu li .indicator {
  float: right;
  display: block;
  margin-right: 6px;
}
.vertical-nav .menuzord-menu li a {
  padding: 5px 0 5px 30px;
  width: 100%;
}
.vertical-nav .menuzord-menu > li {
  padding: 5px 0;
}
.vertical-nav .menuzord-menu ul.dropdown,
.vertical-nav .menuzord-menu .megamenu {
  left: 100%;
  top: 4px;
}
.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown {
  background: #111111;
  border-color: #222222;
}
.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li a {
  background: #111111;
}
.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li a .indicator i {
  color: #fff;
}
.vertical-nav .vertical-nav-black .menuzord-menu ul.dropdown li:hover > a {
  background: #111111 none repeat scroll 0 0;
  color: #fff;
}
.vertical-nav .vertical-nav-black .menuzord-menu > li > a {
  color: #808080;
}
.vertical-nav.vertical-nav-right .menuzord-menu ul.dropdown,
.vertical-nav.vertical-nav-right .menuzord-menu .megamenu {
  left: auto !important;
  right: 100% !important;
  top: 0;
}
.vertical-nav .menuzord-menu {
    background: none;
  }
.menuzord-menu > li {
  padding: 0;
}
.menuzord-menu > li > a {
  padding: 28px 15px 32px;
  font-size: 14px;
}
.menuzord-menu > li > a {
  border-radius: 0 !important;
}
.vertical-nav .vertical-nav-black .menuzord .menuzord-menu li > a,
  .vertical-nav .vertical-nav-black .menuzord .menuzord-menu li .indicator {
    border-color: #222222;
  }
